// 3rd party SCSS
@import "lib/bootstrap";


// Application SCSS
.recent-tags {
  font-size: 80%;
  padding-left: 1.5rem;
}

.travis-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    padding: 0.5rem 15px;
  }
}

.form-inline {
  margin-bottom: 2rem;

  label {
    font-weight: bold;
    margin-right: 1rem;
  }

  .form-control {
    min-width: 9rem;
  }
}
